body {
    margin-left: 10px;
    font-family: Sans-Serif sans-serif;
    font-size: 13px;
}

.title {
    text-align: center;
}

.image-block {
    display: inline-block;
}

.image-block_loaded {
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.image-block__label {
    margin-left: 10px;
    text-align: center;
    margin-top: 0;
}

#file {
    margin-left: 10px;
}

.file-form {
    margin-top:20px;
    text-align: center;
}



